.git

tmp
pkg

ext/
ext/*.o
ext/*.so
ext/Makefile

Gemfile.lock
csql.err
lib/cubrid/cubrid.so
tests/.byebug_history
tests/test_cubrid2.rb
tests/test_cubrid3.rb
tests/test_mysql.rb
tests/test_pg.rb

activerecord-cubrid2-adapter-*.gem
